.btn_rodape {
  background-color: var(--amarelo);
  color: var(--text_color);
  font-size: 2.2rem;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms ease-in-out;
  border-top: 1px solid var(--secondary_color);
  border-left: 1px solid var(--secondary_color);
  border-bottom: 1px solid var(--text_color);
  border-right: 1px solid var(--text_color);

}
.btn_rodape:hover {
  color: var(--fundo);
  background-color: var(--laranja);
  border-top: 1px solid var(--text_color);
  border-left: 1px solid var(--text_color);
  border-bottom: 1px solid var(--secondary_color);
  border-right: 1px solid var(--secondary_color);
}
